
.dropdown-menu {
    display: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    display: none;
    margin-top: -4px; /* Lyft upp dropdown-menyn så att den överlappar knappen */
    transition: opacity 0.2s ease, visibility 0.2s ease;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top: none;
}


.hover-dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}


