.full-page-dropdown {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    z-index: 9999;
    overflow-y: auto;
    /* Allow scrolling inside dropdown */
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    /* For animation */
}

body.no-scroll {
    overflow: hidden;
}
.nav .active > button {
    background-color: #0d6efd;
    color: white !important;
    
}
#subcatlink{
    cursor: pointer;
    
}
#subcatlink:hover{
    text-decoration: underline !important;
    
    
}
.icon-link>.bi{
    height: auto !important;
}